@import 'core/variables';
@import 'layout/header';
@import 'layout/mainpage';
@import 'layout/footer';
@import 'core/settings';
@import 'core/links';


.page{
  margin: 0;
  padding: 0;
	height: 100vh;
}
body{
  margin: 0;
  padding: 0;
}
