<div class="footer">
    <div class="icon-arrow-container">
        <a href="#top"><img class="icon-arrow-img" src="assets/images/ico-arrow.svg" alt="icono subir "></a>
        </div>

    <ul class="footer-list1">
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
      <li>tips</li>

    </ul>
    <ul class="footer-list2">
        <li>twitter</li>
        <li>instagram</li>
        <li>Mastodon.social</li>
      </ul>
    <p class="copy">©2017</p>
    <p class="love-coments">we <span class="heart">❤︎</span> components</p>

</div>

