<div class="footer">
    <div class="icon-arrow-container">
        <a href="#top"><img class="icon-arrow-img" src="assets/images/ico-arrow.svg" alt="icono subir "></a>
    </div>

    <ul class="footer-list1">
      <a href=""></a>
      <li><a class="li-footer" href="">articles</a></li>
      <li><a class="li-footer" href="">books</a></li>
      <li><a class="li-footer" href="">events</a></li>
      <li><a class="li-footer" href="">reasons</a></li>
      <li><a class="li-footer" href="">tips</a></li>

    </ul>
    <ul class="footer-list2">
        <li><a class="li-footer" href="">twitter</a></li>
        <li><a class="li-footer" href="">instagram</a></li>
        <li><a class="li-footer" href="">Mastodon.social</a></li>
      </ul>
    <p class="copy">©2017</p>
    <p class="love-coments">we <span class="heart">❤︎</span> components</p>

</div>

