<partial src="_hero.html" label="Hero"></partial>

<article class="vindoww">
    <p id="vindow" class="vindow-p">Insomnia Tips</p>
    <h3 class="vindow-h2">Looking Through A Window</h3>
    <p class="vindow-p2">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <button class="enlace-go" >go</button>
  </article>


<article class="reason-purchase">
  <h3 class="purchase-title">3 Reasons To Purchase</h3>
  <ul class="purchase-list">
    <div class="list-container-purchase">
      <li class="purchase-li-1">
        <div>
          <h4 class="purchase-list-title">Ut sed metus</h4>
          <p class="purchase-list-p">Lorem ipsum dolor sit <br> amet, consecteur.</p>
        </div>
      </li>
      <li class="purchase-li-2">
        <div>
          <h4 class="purchase-list-title">Curabitur ac erat</h4>
          <p class="purchase-list-p">Mauris mattis urna <br> quis lorem molestie.</p>

        </div>
      </li>
      <li class="purchase-li-3">
        <div>
          <h4 class="purchase-list-title">Morbi dictum</h4>
          <p class="purchase-list-p">Aliquam in dolor et <br> dolor tincidunt.</p>
        </div>
      </li>
    </div>

  </ul>
  <button class="purchase-bton">More reasons</button>

</article>
