<partial src="_hero.html" label="Hero"></partial>

<article class="vindoww">
  <p class="vindow-p">Insomnia Tips</p>
  <h3 class="vindow-h2">Looking Through A Window</h3>
  <p class="vindow-p2">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
  <a class="enlace-go" href="url">go</a>
</article>

<article class="reason-purchase">
  <h3 class="purchase-title">3 Reasons To Purchase</h3>
  <ul class="purchase-list">
    <li class="purchase-li">
      <div>
        <h4 class="purchase-list-title">Ut sed metus</h4>
        <p class="purchase-list-p">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
    </li>
    <li class="purchase-li">
      <div>
        <h4 class="purchase-list-title">Curabitur ac erat</h4>
        <p class="purchase-list-p">Mauris mattis urna quis lorem molestie.</p>

      </div>
    </li>
    <li class="purchase-li">
      <div>
        <h4 class="purchase-list-title">Morbi dictum</h4>
        <p class="purchase-list-p">Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </li>

  </ul>
  <button class="purchase-bton">More reasons</button>

</article>
