<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <title>Evaluacion Final Madulo 1 Laura Diaz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <header class="header-box">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_hero.html" label="Hero"></partial>
    </header>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>
</html>
