.li-footer{
  text-decoration: none;
  background: $color-primary;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-light;
}

.footer{
  background: $color-primary;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-light;
}
.icon-arrow-container{
  position:absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  background:$color-light;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-arrow-img{
  margin: 0px;
  margin-top: 2px;
  width: 20.6px;
  height: 24px;
}
.footer-list1{
  text-align: center;
  padding-top: 60px;
  list-style: none;
  text-transform: uppercase;
  font-size: $font-size-ss;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
}
.footer-list2{
  text-align: center;
  padding-top: 30px;
  list-style: none;
  text-transform: uppercase;
  font-size: $font-size-ss;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
}
.copy{
  padding-top: 30px;
  line-height: 2.14;
  font-size: $font-size-sss
}
.love-coments{
  line-height: 2.14;
  font-size: $font-size-sss
}
.heart{
  color: $color-btn
}
