.li-footer{
  text-decoration: none;
  background: $color-primary;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-light;
}

.footer{
  background: $color-primary;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-light;
  padding-bottom:$padding-footer-botton;
  @media all and (min-width:768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;

    padding-left:38px;
    padding-right:38px;
  }
  @media all and (min-width:1200px) {
    padding-left:370px;
    padding-right:370px;
  }
}
.icon-arrow-container-big{
  position:absolute;
  left: 50%;
  transform: translate(-50%,-50%);

}
.icon-arrow-container{
  background:$color-light;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: intro;
  animation-duration: 3s;
  animation-iteration-count: 1;
  @keyframes intro {
    from {
      opacity: 0.5;
      background-color:$color-primary;
      transform:  scale(10) rotate(-180deg);
    }
    to {
      opacity: 1;
      transform:  scale(1);
    }
  }
}
.icon-arrow-img{
  margin: 0px;
  margin-top: 2px;
  width: 20.6px;
  height: 24px;
}
.footer-list1{
  text-align: center;
  padding-top: $padding-footer-top;
  list-style: none;
  text-transform: uppercase;
  font-size: $font-size-ss;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  @media all and (min-width:768px){
    padding-top: $padding-footer-top768;
    text-align: left;
  }
}
.footer-list2{
  text-align: center;
  padding-top: 30px;
  list-style: none;
  text-transform: uppercase;
  font-size: $font-size-ss;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  @media all and (min-width:768px){
    padding-top: 45px;
    text-align: left;
  }
}

.copy-comentes-container{
  @media all and (min-width:768px){
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
}
.copy{
  padding-top: 30px;
  line-height: 2.14;
  font-size: $font-size-sss;
  @media all and (min-width:768px){
    padding-top: 45px;
  }
}
.love-coments{
  line-height: 2.14;
  font-size: $font-size-sss;
}
.heart{
  color: $color-btn;
}
