
.hero-container {
  background-image: url("../images/cover.jpg");
  height: 421px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  padding: 0px;
  margin: 0px;
  color: $color-light;
  font-size: $font-size-b;
}
