
.hero-container {
  background-image: url("../images/cover.jpg") ;
  margin: 0px;
  padding: 0px;
  height:100vh;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50% ;
  position: relative;
  @media all and (min-width:768px){
    min-height: 650px;
  }
}


.title-hero{
  grid-row: 2/3;
  text-align: center;
}
.title-hero1{
  margin: auto;
  color: $color-light;
  max-width: 300px;
  text-align: center;
  font-size: $font-size-b;
  font-family:$font-family;
  text-transform: uppercase;
  margin-bottom:10px;
  @media all and (min-width:768px){
    max-width: 500px;
    font-size: 80px;
    line-height: 1.1;
  }
  @media all and (min-width:1200px){
    max-width: 700px;
    font-size: 100px;
    line-height: 1.1;
  }
}
.titlesmall-hero{
  text-align: center;
  color: $color-light;
  font-size: $font-size-ss;
  font-family:$font-family-secundary;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 30px;
  @media all and (min-width:768px){
    font-size:$font-size-m;
  }
}
.enlace-arrow{
  position: absolute;
  left: 50%;
  bottom: 53px;
  transform: translateX(-50%);
  @media all and (min-width:768px){
    bottom: 45px;
  }
  @media all and (min-width:1200px){
    bottom: 13px;
  }
}
.icon-scroll-container{
  margin:auto;
  background: $color-light;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}
.icon-scroll-down{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 11.5px;
}
