
.vindoww{
  margin:0 auto;
  padding:0 15px;
}
.vindow-p{
  margin-left:15px;
  margin-right:15px;
  margin-top: 30px;
  padding: 5px 0px ;
  font-size: $font-size-sss;
  color: $color-tertiary;

}
.vindow-h2{
  margin-left:15px;
  margin-right:15px;
  font-size: $font-size-m;
  margin-bottom: 15px;
}
.vindow-p2{
  margin-left:15px;
  margin-right:15px;
  font-size: $font-size-s;
  color: $color-light-midtone;
  margin-bottom: 30px;
}
.enlace-go {
  text-decoration: none;
  background: $color-light;
  width: 76px;
  height: 45px;
  border: 2px solid $color-btn;
  border-radius:22.5px;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-btn;
  line-height: 45px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right:15px;
  transition: color ease 0.5s, border ease 0.5s;
  &:hover {
    color:$color-primary;
    border:  solid $color-primary;
  }
}

.purchase-list{
  list-style: none;
  margin: auto;
}

.list-container-purchase{
  @media all and (min-width:768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 38px;
}
}
.reason-purchase{
  text-align: center;
  background: $color-cuartiary;
  padding-top: 30px;
}
.purchase-title{
  font-size:$font-size-m;
  margin-bottom: 45px;
}
.purchase-list-title{
  font-size:$font-size-s;
  font-weight: bold;
  padding:4px 0px;
}
.purchase-list-p{
padding: 4px 0px;
margin-bottom: 45px;
}

.purchase-bton{
  text-decoration: none;
  background: $color-btn;
  width: 184px;
  height: 45px;
  border: 2px solid $color-btn;
  border-radius:22.5px;
  text-align: center;
  line-height: 45px;
  font-family: $font-family-secundary;
  color: $color-light;
  font-size: 20px;
  margin-bottom: 45px;
  transition: transform ease 1s;
  &:hover {
    transform:scale(1.5);
  }
}
