.vindoww{
  margin:0px $margin-section1-main;
  padding:$padding-section1-main 0px ;
  @media all and (min-width:768px){
    margin:0px $margin-section1-main768;
    padding: $padding-section1-main768 0px;
  }
  @media all and (min-width:1200px){
    margin:0px $margin-section1-main1200;
  }
}

.vindow-p{
  line-height: 2.14;
  font-size: $font-size-sss;
  color: $color-tertiary;
  @media all and (min-width:1200px){
    line-height: 1.88;
  }
}

.vindow-h2{
  font-size: $font-size-m;
  margin-bottom: 15px;
  @media all and (min-width:768px){
    font-size: 26px;
    margin-bottom: 30px;
  }
}
.vindow-p2{
  font-size: $font-size-s;
  color: $color-light-midtone;
  margin-bottom: 30px;
  @media all and (min-width:768px){
    font-size: 20px;
  }
}
.enlace1{
text-decoration: none;
}
.enlace-go {
  text-decoration: none;
  background: $color-light;
  width: 76px;
  height: 45px;
  border: 2px solid $color-btn;
  border-radius:22.5px;
  text-align: center;
  font-family: $font-family-secundary;
  color: $color-btn;
  line-height: 45px;
  padding-right: 5px;
  font-size: 20px;
  text-transform: capitalize;
  transition: color ease 0.5s, border ease 0.5s;
  &:hover {
    color:$color-primary;
    border:  solid $color-primary;
  }
  @media all and (min-width:768px){
    width: 91px;

  }
  @media all and (min-width:1200px){
    width: 160px;
  }
}

@import 'layout/special-offer';



.list-container-purchase{
  list-style: none;
  @media all and (min-width:768px) {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 38px;
    grid-gap: 30px;
}
}
.reason-purchase{
  text-align: center;
  background: $color-cuartiary;
  padding-top: 30px;
  padding-bottom: $padding-section2-main;
  @media all and (min-width:1200px){
    padding-top: $padding-section2-main1200;
  }
}
.purchase-title{
  font-size:$font-size-m;
  margin-bottom: 45px;
  @media all and (min-width:768px) {
  font-size: 26px;
  line-height: 1.73;
  }
  @media all and (min-width:1200px) {
    font-size: 32px;
    line-height: 1.41;
  }
}
.purchase-list-title{
  font-size:$font-size-s;
  font-weight: bold;
  padding:4px 0px;
  @media all and (min-width:768px) {
    font-size: $font-size-m;
  }
}
.purchase-list-p{
  padding: 4px 0px;
  margin-bottom: 45px;
  @media all and (min-width:768px) {
  font-size: 20px;
  }
}

.purchase-bton{
  text-decoration: none;
  background: $color-btn;
  width: 184px;
  height: 45px;
  border: 2px solid $color-btn;
  border-radius:22.5px;
  text-align: center;
  line-height: 45px;
  font-family: $font-family-secundary;
  color: $color-light;
  font-size: 20px;
  transition: transform ease 1s;
  &:hover {
    transform:scale(1.5);
  }
  @media all and (min-width:768px) {
    width: 210px;
    }
  @media all and (min-width:1200px) {
    width: 255px;
    }

}
