$color-primary:#304268;
$color-secundary:#0271bc;
$color-tertiary:#8ccbea;
$color-cuartiary:#eff9ff;
$color-light-midtone: #4a4a4a;
$color-light:#fff;
$color-btn:#f26002;

$font-size-b:42px;
$font-size-m:24px;
$font-size-s:18px;
$font-size-ss:16px;
$font-size-sss:14px;
$font-family:'Roboto Slab', serif;
$font-family-secundary:'Roboto', sans-serif;
