$color-primary:#304268;
$color-secundary:#0271bc;
$color-tertiary:#8ccbea;

$color-light:#fff;
$color-btn:#f26002;

$font-size-b:42px;
$font-size-m:24px;
$font-size-s:18px;
$font-size-ss:16px;
$font-family:'Roboto Slab', serif;
